

<div>
	<!-- headder -->
	<div fxLayout="column">
		<div fxFlex="40">
			<h1>XYZ Clothing</h1>
		</div>
		<div fxFlex="40">
			<mat-form-field>
				<mat-select (change)="updateSiteCurrency($event.target.value)">
					<mat-option *ngFor="let currency of exchangeRates; first as isFirst" value="exchangeRates.base" selected="isFirst">
						{{currency.base}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>
	<!-- content -->
	<mat-card *ngFor="let p of products">
		<h3> {{p.name}} </h3>
		<p> {{p.price.amount}}{{p.price.base}} </p>
	</mat-card>
</div>