

<div fxflex>
	<!-- headder -->
	<div fxLayout="row">
		<span fxFlex="40">
			<h1>XYZ Clothing</h1>
		</span>
		<span fxFlex="40">
			<mat-form-field>
				<mat-select matSelect (selectionChange)="updateSiteCurrency($event.value)" [value]="currentExchangeRate" >
					<mat-option *ngFor="let currency of exchangeRates" [value]="currency">
						{{currency.base}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</span>
	</div>
	<!-- content -->
	<div fxLayout="row">
		<app-product *ngFor="let p of products" 
			[product]="p" 
			[currentExchangeRate]="currentExchangeRate"
			[exchangeRates]="exchangeRates"></app-product>
	</div>
</div>